<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
  <h1>To:<%= @contact.name%></h1>
  <p>We recieved your contact form.<p>
  <p>Thanks you.<p>
  <p>Your inquiry is below:</p>
  <p>name:<%= @contact.name %></p>
  <p>email:<%= @contact.email %></p>
  <p>age:<%= @contact.age %></p>
  <p>content<%= @contact.content %></p>
  </body>
</html>
